<nav class="navbar navbar-expand-lg navbar-custom">
  <a class="navbar-brand" href="https://dwvisantos.netlify.app/">httpsdwvi.dev</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#spacer"> Sobre </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#jobs"> Jobs </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#hobbie"> Hobbies & Inspirações </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#social"> Contatos </a>
      </li>
    </ul>
  </div>
</nav>

<div class="h-details">
  <h1 class="h-name"> Davi Santos </h1>
  <h2 class="h-title"> Desenvolvedor Front-End </h2>
  <h2 class="h-city"> São Paulo - SP</h2>
  <img src="assets/img/p-profile.webp" alt="Foto de perfil">
  <a class="down-arrow" href="#spacer"></a>
</div>
<div id="spacer" class="spacer"></div>