<<<<<<< HEAD
.spacer {
  margin-top: 17vh;
}

button {
    margin-right: 20px;
    background-color: #fff;
}

.navbar-custom {
  background-color: #060108;
}

.nav-link {
  color: #fff;
}

.navbar-brand {
  color: #985aee;
=======
button {
    margin-right: 20px;
>>>>>>> aaf3d5e1d40aab28c91aaf7c11560a0903ffb603
}

.h-details {
    margin-top: 70px;
    text-align: center;
    min-height: 100vh;
}

.h-name {
<<<<<<< HEAD
    font-size: 30px;
    color: #FFF;
    font-weight: 700;
=======
    color: #FFF;
    font-weight: 800;
>>>>>>> aaf3d5e1d40aab28c91aaf7c11560a0903ffb603
    margin-bottom: 0;
}

.h-title {
    color: #985aee;
<<<<<<< HEAD
    font-size: 24px;
=======
>>>>>>> aaf3d5e1d40aab28c91aaf7c11560a0903ffb603
    font-weight: 700;
    margin-bottom: 0;
}

.h-city {
    color: #FFF;
<<<<<<< HEAD
    font-size: 22px;
=======
>>>>>>> aaf3d5e1d40aab28c91aaf7c11560a0903ffb603
    font-weight: 300;
    margin-bottom: 50px;
}

img {
<<<<<<< HEAD
    width: 300px;
=======
    height: 300px;
    width: 300x;
>>>>>>> aaf3d5e1d40aab28c91aaf7c11560a0903ffb603
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.down-arrow {
    cursor: pointer;
    color: #FFF;
    position: absolute;
<<<<<<< HEAD
    top: calc(100vh - 95px);
    left: calc(50% - 30px);
  }
  
.down-arrow:after {
=======
    top: calc(100vh - 80px);
    left: calc(50% - 30px);
  }
  
  .down-arrow:after {
>>>>>>> aaf3d5e1d40aab28c91aaf7c11560a0903ffb603
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
  }

<<<<<<< HEAD
@keyframes jumpInfinite {
=======
  @keyframes jumpInfinite {
>>>>>>> aaf3d5e1d40aab28c91aaf7c11560a0903ffb603
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }

<<<<<<< HEAD
.down-arrow {
    animation: jumpInfinite 2.0s infinite;
}

@media only screen and (max-width: 305px) {
  img {display: none;}
}


@media only screen and (max-height: 720px) {
    img {
=======
  .down-arrow {
        animation: jumpInfinite 1.5s infinite;
  }

@media only screen and (max-width: 764px) {
    .spacer {
        display: none;
    }
}

@media only screen and (max-height: 720px) {
    img {
        height: 256px;
>>>>>>> aaf3d5e1d40aab28c91aaf7c11560a0903ffb603
        width: 256x;
    }
}