<section id="about" class="about">
  <h2 class="t-about"> Sobre </h2>
    <p class="p-about">
      Um jovem em início de carreira apaixonado por conhecimento e novas tecnologias. Minhas principais stacks são voltadas ao desenvolvimento de soluções web, como Angular e ASP NET.
    </p>
</section>

<div id="jobs" class="container-cards">
  <h2>Jobs</h2>
  <section class="cards">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">F1 Bot</h3>
          <p class="card-text">Um bot que traz dados a respeito dos finais de semana da Formula 1, como por exemplo resultado de treinos, qualificação e corridas.</p>
          <a href="#" class="card-link">Confira aqui</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">Pokemon Stats</h3>
          <p class="card-text">Um bot que reproduz uma pokedex, na qual traz dados a respeito dos pokemons <br> <br></p>
          <a href="#" class="card-link">Confira aqui</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">Portifólios</h3>
        <p class="card-text">Outros projetos realizados, buscando alavancar a carreira de terceiros</p>
        <a href="#" class="card-link">Confira aqui</a>
      </div>
    </div>
  </section>
</div>
